{% extends 'base.html' %}

<!-- Macro for loading list of categories to select from -->
{% macro load_categories(categories, prefix="") %}
    {% for category in categories %}
        <option value="{{ category.id }}" 
        {% if category.id == note.category %}
        selected
        {% endif %}>
            {{ "&#x251c;"|safe }}{{ prefix|safe }}{{ category.name }}
        </option>
        {% if category.subcategories %}
            {{ load_categories(category.subcategories, prefix + "&#x2500;"|safe)}}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% block header %}
    <h1>{% block title %}Edit "{{ note.title }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
    <p>Last updated on {{ note.update_date.strftime("%d-%m-%Y %H:%M:%S") }}</p>
    <form method="post">
        <label for="title">Title</label>
        <input name="title" id="title" value="{{ request.form['title'] or note.title }}" required>
        <label for="category">Category</label>
        <select name="cat_selection" id="cat_selection" required>
            <option disabled>Categories:</option>
            {{ load_categories(categories) }}
        </select>
        <label for="note_content">Content</label>
        <textarea name="note_content" id="note_content">{{ request.form['note_content'] or note.content }}</textarea>
        <input type="submit" value="Save">
    </form>
    <hr>
    <form action="{{ url_for('faq.delete_note', id=note.id) }}" method="post">
        <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure you\'d like to delete this note?');">
    </form>
{% endblock %}