{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Edit User "{{ user.name }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="username">Username</label>
        <input name="username" id="username" value="{{ request.form['username'] or user.name }}" required>
        {% if user != g.user %}
        <label for="permission_level">Permission Level</label>
            <select name="permission_level" id="permission_level" required>
                {% for i in range(1,5) %}
                    <option value="{{ i }}" {% if i == user.permission_level %}selected{% endif %}>Level {{ i }}</option>
                {% endfor %}
            </select>
            <ul>
                <li>Level 1 - Read only.</li>
                <li>Level 2 - Read, edit own notes.</li>
                <li>Level 3 - Read, edit all notes, edit categories</li>
                <li>Level 4 - Admin - Read, edit all notes, edit categories, manage users.</li>
            </ul>
        {% endif %}
        <label for="password">New Password (optional)</label>
        <input type="password" name="password" id="password">
        <input type="submit" value="Save">
    </form>     
{% endblock %}